[Unit]
Description=Continue full Market backfill slices

[Timer]
OnBootSec=15min
OnUnitInactiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target
